body {
    background-color: #fffdf8;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: 100%; 
    width: 100%; 
}

.sidenav {
    width: 20vw;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #000000;
    color: #fffdf8;
    text-align: center; 
}

.sidenav .pic img {
    display: block;
    width: 180px;
    height: 200px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 50%;
}

.sidenav .pic .name {
    text-align: center;
}

.sidenav .nav .detz {
    width: auto;
    display: block;
    padding: 10px;
}

.sidenav .nav .detz li {
    display: block;
    width: max-content;
    list-style: none;
    line-height: 30px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
}

.sidenav .nav .detz li a {
    text-decoration: none;
    color: #fffdf8;
}

.sidenav .nav .detz li a:hover {
    /* padding: 2px; */
    color: #7fffd4;
}

.sidenav .nav .detz li a:active {
    color: #7fffd4;
}

.main {
    margin-top: 0px;
    margin-left: 20vw;
    width: 80vw;  
    height: 100vh;
    padding: 0px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main .splash {
    background-image: url("../imgs/05.png");
    background-color: #000000;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.splash .splash-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1f2a41;
    padding: 10px;
    font-size: 30px;
}

.splash .splash-text h1 {
    color: aliceblue;
    font-size: 50px;
}

.main .splash .btn1 {
    font-size: 25px;
    width: 20vw;
    display: flex;
    margin-left: 25%
}

.splash .btn1 button {
    width: fit-content;
    background-color: #7fffd4;
    font-size: 23px;
    border-radius: 15px;
    text-align: center;
}

.main .bio {
    background-color: #ffffff;
    color: #000000;
    width: auto;  
    height: auto;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}

.main .bio .bio-title, .bio-main {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
}

.main .bio .bio-content {
    width: auto;
    height: auto;
    text-align: left;
}

.main .bio .bio-sidebar {
    width: auto;  
    height: inherit;
    float: right;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

.main .bio .bio-sidebar ul {
    height: 40vh;
    line-height: 25px;
    padding: 5px;
}

.main .bio .bio-sidebar li{
    list-style-type: none;
    display: block;
    padding: 10px;
    line-height: 20px;
    margin-left: 5px;
    align-content: center;
}

.main .bio .bio-sidebar li button {
    background-color: #7fffd4;
    font-size: 25px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: 15px;
}

.main .bio .bio-main .value {
    display: inline-block;
    width: 20%;
    padding: 2px;
    background-color: #d8faef;
    border: 1px solid #7fffd4;
    text-align: center;
}

.main .bio .bio-main .value small {
    font-weight: normal;
}
/*
.main .bio .bio-main .value #first-value {
    border-left: none;
} */

.main .service, .portfolio {
    background-color: #f9f8fa;
    color: #000000;
    width: auto;  
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.main .service .serv-title, .port-title, .contact-title {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
}

.servframe, .skillsframe, .portframe, .contact-frame {
    width: inherit;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.servleft, .skileft, .portleft {
    width: 48%;
    height: auto;
    margin-left: 10px;
    float: right;
    line-height: 15px;
    font-size: 15px;
    padding-left: 10px;
}

.servright, .skiright, .portright {
    width: 48%;
    height: auto;
    line-height: 15px;
    font-size: 15px;
}

.servleft .cont {
    /*line-height: 15px;
    font-size: 15px; */
    padding-left: 10px;
}

.main .resume {
    background-color: #ffffff;
    color: #000000;
    width: auto;  
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.main .resume .res-title {
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
}

.resframe {
    width: inherit;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 15px;
}

.resleft,
.resright {
    width: 48%;
    height: auto;
    line-height: 15px;
    padding-left: 10px;
    font-size: 15px;
    border: 1px solid #292828;
    border-radius: 15px;
    display: inline-block; /* Keeps education and experience aligned */
    vertical-align: top;    /* Ensures top alignment */
}

.resleft .cont {
    line-height: 15px;
    font-size: 15px;
    padding-left: 10px;
}

.resleft h5, .resright h5 {
    width: fit-content;
    padding: 3px;
    background-color: #7fffd4;
    border-radius: 6px;
}

.resleft h4, .resright h4 {
    width: fit-content;
    padding: 3px;
    color: #ad1b02;
    border-radius: 6px;
}

.resume .res-div-title {
    width: 96%;
    height: 30px;
    margin-left: 25px;
    display: inline-flex;
}

.main .resume .res-div-title .exp {
    width: 45%;
    float: right;
    padding-left: 70px;
}

.main .resume .res-div-title .edu {
    width: 45%;
    float: left;
}

progress {
    width: 400px;
    height: 6px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 7px;
    /* Customize the appearance of the filled part */
    -webkit-appearance: none; /* For WebKit browsers */
    appearance: none;
}



progress::-webkit-progress-bar { /* For WebKit browsers */
    background-color: #f3f3f3;
    border-radius: 5px;
}

progress::-webkit-progress-value { /* For WebKit browsers */
    background-color: #4CAF50; /* Green */
    border-radius: 5px;
}

progress::-moz-progress-bar { /* For Firefox */
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
}

 .portleft, .midport {
    width: 30%;
    height: auto;
    margin-left: 10px;
    float: right;
    line-height: 15px;
    font-size: 15px;
    padding: 5px;
    background-color: #ffffff;
}

.portright {
    width: 30%;
    height: auto;
    line-height: 15px;
    font-size: 15px;
    padding: 5px;
    background-color: #ffffff;
}

.midport {
    width: 30%;
    height: auto;
    margin-left: 5px;
    margin-right: 3%;
    float: right;
    line-height: 15px;
    font-size: 15px;
    padding: 5px;
}

.midport .cont {
    padding-left: 10px;
}

.portframe img {
    width: 100%;
    height: 150px;
}

.main .contact {    
background-color: #edebee;
color: #000000;
width: auto;  
height: auto;
padding-top: 10px;
padding-bottom: 30px;
}

.main .footer {
    background-color: #302f2f;
    color: #ffffff;
    width: auto;  
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.main .footer .foot-title {
    width: 85%;
    height: auto;
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
    font-style: normal;
    font-size: 15px;
}

.contact .contact-frame p {
    padding-left: 10px;
    margin-bottom: 5px;
    text-indent: 90px;
    font-size: 25px;
}

.contact form {
    text-align: center;
}

.contact input {
    width: 38%;
    height: 25px;
    padding: 10px;
}

.contact textarea, input {
    margin-bottom: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.contact button, .sidenav button {
    background-color: #7fffd4;
    color: #000000;
    font-size: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: 15px;
    border: 1px solid #7fffd4;
}

.contact button a, .sidenav button a, .bio-sidebar button a,
.splash button a, .portfolio a, .bio-content a {
    text-decoration: none;
}

.bio-content a, .portfolio a {
    color: #33c9dd;
}

/* Small devices (phones, less than 600px) */
@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }

  .sidenav {
    display: none;
  }

  .main {
    margin-left: 0;
    width: 98%;
  }

  .main .splash .btn1 {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    align-items: center;
  }

  .splash .btn1 button {
    width: 80%;
    margin-bottom: 10px;
  }

  .main .bio .bio-main .value {
    width: 100%;
    margin-bottom: 10px;
  }

  .main .bio .bio-sidebar {
    width: 96%;  
    height: inherit;
    margin-top: 10px;
    font-size: 20px;
    border: 3px solid #000000;
}

  .servleft, .servright, .skileft, .skiright, .resleft, .resright,
  .portleft, .midport, .portright {
    width: 100%;
    float: none;
    margin: 0 auto 10px auto;
  }

  .servright, .skiright {
    padding-left: 10px;
  }

  .servleft .cont, .skileft .cont {
    padding-left: 0px;
}

.skillsframe h3 {
    text-align: center;
}

  .resume .res-div-title {
    flex-direction: column;
    align-items: center;
  }

  .contact input {
    width: 90%;
  }

  .contact textarea {
    width: 90%;
  }

  progress {
    width: 90%;
  }
}

/* Medium devices (600px–900px) */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .sidenav {
    width: 30vw;
  }

  .main {
    margin-left: 30vw;
    width: 70vw;
  }

  .main .splash .btn1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .splash .btn1 button {
    width: 60%;
    margin-bottom: 10px;
  }

  .main .bio .bio-main .value {
    width: 48%;
    margin-bottom: 10px;
  }

  .servleft, .servright, .skileft, .skiright, .resleft, .resright,
  .portleft, .midport, .portright {
    width: 90%;
    float: none;
    margin: 10px auto;
  }

  .contact input {
    width: 80%;
  }

  .contact textarea {
    width: 80%;
  }

  progress {
    width: 80%;
  }
}

/* Large devices (901px–1200px) */
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .sidenav {
    width: 25vw;
  }

  .main {
    margin-left: 25vw;
    width: 75vw;
  }

  .main .bio .bio-main .value {
    width: 45%;
    margin-bottom: 10px;
  }

  .servleft, .servright, .skileft, .skiright, .resleft, .resright,
  .portleft, .midport, .portright {
    width: 48%;
    float: none;
    margin: 10px auto;
  }

  .contact input {
    width: 70%;
  }

  .contact textarea {
    width: 70%;
  }

  progress {
    width: 70%;
  }
}

/* Extra large devices (>1200px) */
@media screen and (min-width: 1201px) {
  .main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 901px) {
  .main {
    margin-left: 20vw;
    width: 80vw;
    position: relative;
    z-index: 0;
  }

  .sidenav {
    z-index: 1;
  }
}